/* custom select */
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {font-size: 14px;} 
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {font-size: 14px;}
/* custom hamburger style */
.studynexus-menu{ display: inline-block; cursor: pointer; } .studynexus-bar{ width: 21px; height: 2px; background-color: currentColor; margin: 3px ; } .studynexus-text{ font-family: Arial, san-serif; font-size: 8px; margin-left: ; }